/* Universal */
*{
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}
/* Header Section */
header{
    background-color: black;
    color: white;
    position: sticky;
    top: 0px; 
    width: 100%;
    z-index: 1000;

}
/* Title Header */
.header{
    display: flex;
    padding: 15px;
}
.title-div{
    display: flex;
}
/* Title Img */
.title-img{
    width: 60px;
    height: 60px;
    border-radius: 300px;
    padding-bottom: 5px;
}
/* Og Title */
.title{
    font-size: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 15px;
}
/* Searchbar */
.searchbar{
    width: 500px;
    height: 40px;
    margin: 10px 10px 10px 100px;
    border-radius: 300px;    
}
/* Searchbar Button */
.button{
    width: 50px;
    height: 45px;
    position: relative;
    right: 15px;
    border-radius: 300px;
}
/* Search Button Hover  */
.button:hover{
    cursor: pointer;
    background-color: grey;
    border-radius: 300px;
}
/* Login Sign up */
.login-signup{
    display: flex;
    gap: 30px;
    width: 350px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
}
/* Cart */
.basket-img{
    width: 50px;
    height: 50px;
}
.cart{
    display: flex;
    flex-wrap: wrap;
    gap: 0%;
    align-items: center;
    justify-content: center;
    width: 120px;
}
/* Sign up & Login Hover */
.sign-up:hover,.login:hover,.cart:hover,.seller:hover{
    background-color: grey;
    border-radius: 300px; 
    cursor: pointer;
    border-width: 2px;
    border-color: rgb(219, 152, 152); 
    border-style: solid;
}
.home{
    text-decoration: none;
    color: white;
}
.full-screen{
    width: 100%;
    height: 100%;
}
.OTP-section{
    border: 2px solid black;
    width: fit-content;
    height: 250px;
    margin: 100px 0 0 450px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(172, 179, 185);
    box-shadow: 5px 5px rgb(0, 0, 0);
}
.OTP{
    margin: 0 0 0 100px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
}
.resend-otp{
    margin: 10px;
    cursor: pointer;
}
.verify-button{
    width: 400px;
    height: 30px;
    background-color: blue;
    color: white;
    margin: 0 0 0 35px;
    cursor: pointer;
    border-radius: 5px;
}
.change-number:hover{
    color: blue;
    cursor: pointer;
}
.resend-otp:hover{
    color: blue;
}
.verify-button:hover{
    background-color: darkblue;
    color: rgb(0, 0, 0);
}
