/* Universal */
*{
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}
/* Body */
body{
    background-color: rgb(193, 235, 218);
}
/* Header Section */
header{
    background-color: black;
    color: white;
    position: sticky;
    top: 0px; 
    width: 100%;
    z-index: 1000;

}
/* Title Header */
.header{
    display: flex;
    padding: 15px;
}
.title-div{
    display: flex;
}
/* Title Img */
.title-img{
    width: 60px;
    height: 60px;
    border-radius: 300px;
    padding-bottom: 5px;
}
/* Og Title */
.title{
    font-size: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 15px;
}
.title-link{
    text-decoration: none;
    color: white;
}
/* Searchbar */
.searchbar{
    width: 500px;
    height: 40px;
    margin: 10px 10px 10px 60px;
    border-radius: 300px;
    font-size: 20px ;    
}
/* Searchbar Button */
.button{
    width: 50px;
    height: 45px;
    position: relative;
    right: 15px;
    border-radius: 300px;
}
/* Search Button Hover  */
.button:hover{
    cursor: pointer;
    background-color: grey;
    border-radius: 300px;
}
/* Login Sign up */
.login-signup{
    display: flex;
    gap: 10px;
    width: 390px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.basket-img{
    width: 50px;
    height: 50px;
}
.cart{
    display: flex;
    flex-wrap: wrap;
    gap: 0%;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
/* Sign up & Login Hover */
.sign-up:hover,.login:hover,.cart:hover,.seller:hover,.seller:hover{
    background-color: grey;
    border-radius: 300px; 
    cursor: pointer;
    border-width: 2px;
    border-color: rgb(219, 152, 152); 
    border-style: solid;
}
.sign-up-link{
    text-decoration: none;
    color: white;
}
/* Navbar */
.navbar{
    background-color: rgb(82, 76, 76);
    height: 50px;
}
/* Navbar Content Lists */
.content-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 12px 0 0 0;
}
/* Content List One Links */
.content-list-one{
    padding:9px; 
    list-style-type: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 400px;
    text-decoration: none;
    color: white;
    
}
/* Links Hover */
.content-list-one:hover{
    cursor: pointer;
     background-color: blanchedalmond; 
     color: black; 
     border-color: black;
    border-width: 2px;
    border-style: solid; 
}
.moving-img{
    overflow: hidden;
    width: 100%;
    height: auto; 
}
/* Moving Slogan */
.moving-slogan{
    animation: moving-slogan 8s linear infinite alternate;
    position: relative;
    z-index: 1;
    width: fit-content;
    background-color: rgb(242, 80, 248);
    border-radius: 300px;
    margin: 10px;
    border: 5px dotted white;
    color: white;
}
@keyframes moving-slogan {
    0%{
        left: -10%;
    }
    0%{
        left: 0%;
        background-color: blue;
    }
    10%{
        left: 10%;
        background-color: rgb(31, 255, 43);
    }
    20%{
        left: 20%;
        background-color: rgb(255, 0, 0);
    }
    30%{
        left: 30%;
        background-color: rgb(226, 5, 255);
    }
    40%{
        left: 40%;
        background-color: rgb(0, 255, 234);
    }
    50%{
        left: 50%;
        background-color: rgb(10, 78, 50);
    }
    60%{
        left: 60%;
        background-color: rgb(56, 14, 153);
    }
    70%{
        left: 70%;
        background-color: rgb(14, 89, 228);
    }
    80%{
        left: 80%;
        background-color: rgb(235, 252, 6);
    }
    90%{
        left: 90%;
        background-color: rgb(252, 0, 105);
    }
    100%{
        left: 100%;
        background-color: rgb(0, 255, 200);
    }
}

/* Search Section */

.search-div{
    display: flex;
    justify-content: right;
    margin: 0 3% 0 0;
}

.mini-search{
    width: 25%;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.mini-search:focus{
    outline: none;
}

.search-btn{
    width: 3%;
    border-radius: 5px;
    border: none;
    background-color: rgb(199, 195, 195);
}

/* Mobiles Section */
.electronics-container-main{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 140px;
}
/* Mobiles Row 1 */
.electronics-container-1{
    width: 320px;
    border-radius: 10px;
    margin: 5px 0 20px 30px;
    background-color: white;
    box-shadow:0 15px 15px rgb(37, 36, 36);
    transition: 1s;
    cursor: pointer;
    border: none;
}
.electronics-container-1:hover{
    width: 325px;
}
/* Mobiles Images */
.electronics{
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    transition: 1s;
}    
/* Mobiles Img Hover */
.electronics:hover{
    position: relative;
    bottom: 10px;
    width: 305px;
    height: 305px;
    cursor: pointer;
}
/* Mobiles Content Row 1 */
.electronics-content-div-1{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 200px;
}
/* Mobiles Content Para */
.electronics-content{
    width: 270px;
    margin: 0 15px 15px 15px;
    color: rgb(12, 12, 12);
    font-size: 20px;
    border-radius: 10px;
}
/* Mobiles Content Para Hover */
.electronics-content:hover{
    color: rgb(4, 6, 156);
    cursor: pointer;
}
/* Mobiles Prize Row 1 */
.electronics-prize-1{
    font-size: 30px;
    color: rgb(5, 248, 46);
}

/* Back To Top */
.back-to-top{
    background-color: rgb(59, 58, 58);
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 30px;
    margin: 15px 0 0 0 ;
}
/* Footer Section */
/* Og Footer */
footer{
    background-color: black;
    color: white;
    margin: 10px 0 0 0;
    padding: 10px;
    width: 1800px; 
    
}
.footer-one{
    background-color: black;
    color: white;
    margin: 10px 0 0 0;
    display: flex;
    padding: 10px;
    width: 100%; 
}
/* Contact Details */
.contact-detail{
    padding: 0 0 0 20px;
}
.contact-us{
    padding: 10px;
    color: rgb(190, 188, 188);
}
/* About Us Details */
.about-detail{
    padding: 0 0 0 20px;
}
.about-us{
    padding: 10px;
    color: rgb(190, 188, 188);
}
/* Partners Details */
.partners-detail{
    padding: 0 0 0 20px;
}
.service-partners{
    padding: 10px;
    color: rgb(190, 188, 188);
}
/* Other Bussiness Details */
.other-bussiness-detail{
    padding: 0 0 0 20px;
}
.other-bussiness{
    padding: 10px;
    color: rgb(190, 188, 188);
}
/* Service Details */
.service-detail{
    padding: 0 0 0 20px;
}
.service{
    padding: 10px;
    color: rgb(190, 188, 188);
}
/* Social Media Details */
.social-media-detail{
    padding: 0 0 0 20px;
    cursor: pointer;
}
.social-media{
    padding: 10px;
    color: rgb(190, 188, 188);
}
.footer-img-div{
    width: 0px;
}
.footer-img{
    width: 200px;
    height: 200px;
    border-radius: 300px;
    position: absolute;
    top: 2550px;
    right: 1100px; 
}
.quick-links{
    display: flex;
}
.Quick-to-go{
    padding: 20px;
}
.quick-link-one{
    padding: 20px;
    color: rgb(190, 188, 188);
    cursor: pointer;
}