/* Universal */
*{
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}
/* Header Section */
header{
    background-color: black;
    color: white;
    position: sticky;
    top: 0px; 
    width: 100%;
    z-index: 1000;

}
/* Title Header */
.header{
    display: flex;
    padding: 15px;
}
.title-div{
    display: flex;
}
/* Title Img */
.title-img{
    width: 60px;
    height: 60px;
    border-radius: 300px;
    padding-bottom: 5px;
}
/* Og Title */
.title{
    font-size: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 15px;
}
/* Searchbar */
.searchbar{
    width: 500px;
    height: 40px;
    margin: 10px 10px 10px 100px;
    border-radius: 300px;    
}
/* Searchbar Button */
.button{
    width: 50px;
    height: 45px;
    position: relative;
    right: 15px;
    border-radius: 300px;
}
/* Search Button Hover  */
.button:hover{
    cursor: pointer;
    background-color: grey;
    border-radius: 300px;
}
/* Login Sign up */
.login-signup{
    display: flex;
    gap: 30px;
    width: 350px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
}
/* Cart */
.basket-img{
    width: 50px;
    height: 50px;
}
.cart{
    display: flex;
    flex-wrap: wrap;
    gap: 0%;
    align-items: center;
    justify-content: center;
    width: 120px;
}
/* Sign up & Login Hover */
.sign-up:hover,.login:hover,.cart:hover,.seller:hover{
    background-color: grey;
    border-radius: 300px; 
    cursor: pointer;
    border-width: 2px;
    border-color: rgb(219, 152, 152); 
    border-style: solid;
}
/* Home Button */
.home{
    text-decoration: none;
    color: white;
}
/* Login Section */
.login-page{
    display: flex;
    height: auto;
    justify-content: center;
}
.login-section{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 5% 0 0 0;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: rgb(219, 214, 218);
    padding: 10px;
    justify-content: center;
    align-items: center;
}
/* Heading */
.login-heading{
    text-align: center;
    color: blue;
}

/* Form */
form{
    padding: 50px;
    min-height: 150px;
}
/* Table */
table{
    min-height: 100px;
}

/* Input Boxes */
.info-box{
    width: 250px;
    height: 30px;
    font-size: 20px;
    border-radius: 8px; 
    border: none;
}
/* Forgot Password btn */
.forgot-password{
    margin: 0 0 0 200px;
    cursor: pointer;
}
/* Remember Section */
.remember-div{
    display: flex;
    gap: 10px;
    margin: 10px 0 0 240px;
}
.login-btn{
    width: 250px;
    height: 35px;
    font-size: 25px;
    margin: 20px 0 0 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: white;
    background-color: rgb(19, 30, 187);
    border-radius: 5px;
    border: none;
}
.login-btn:hover{
    cursor: pointer;
    background-color: rgb(18, 18, 90);
    color: blanchedalmond;
}
.login-para{
    text-align: center;
}